@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}


:root {
  --background-color: #333;
}

body {
  background-color: var(--background-color);
  color: white;
  font-family: 'Muli', sans-serif;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 1em;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  font-size: 20px;
}

h1 {
  margin-top: 0;
}

.currency, .swap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  position: relative;
}

.currency-name {
  font-size: 13px;
  position: absolute;
  top: 5em;
}

select, button {
  border: 1px solid black;
  padding: 1em;
  border-radius: 0.5em;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: var(--background-color);
  color: white;
}

.swap {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}